.story_category , a  {
    font-weight:bold;
}

main{
  margin-top: 3rem;
  padding-right: 3rem !important;
  padding-left: 3rem !important; 
}



.checked {
  color: orange;
}

.card-title{
  color : green;
}

p{
  color: white;
  font-weight: bold;
}

.footer_icon{
  color: blue;
}

a.hover {
  color: red;
}




    