main {
    text-align : center;
}

p {
    text-align: left;
}


ul , li {
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    padding-left: 45%;
}


article {
    padding-left : 20%;
    padding-right : 15%;
    text-align:center;
}




